   <style type="text/css">
  header{background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url(../img/hero-bg.jpg) center center no-repeat;;}
  .row{margin-bottom: 2em !important}
  .spantype{
    padding: 0.5em 0.5em;background: white; border-radius: 1em;
    color: #5846f9;
    position: absolute;
    top: 0.7em;
    right: 1em;
    width: 6em;
    text-align: center;
  }
  @media only screen and (max-width: 800px) {
        .spantype{top:3.7em !important;}
      }
</style>

    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>browse jobs</h2>
          <p>Showing the last 10 jobs submitted to our database</p>
        </div>
<% @records.first(10).each do |record| %>
        <div class="row" style=" margin:auto">
          <div class="col-lg-12 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3 style="text-align:start">
              <%=record.title%>
              <span class="spantype" style=""><%=record.type%></span>
            </h3>
              <div style="text-align:start;height: 7em;overflow :scroll"><%=record.desc%></div>
              <div class="btn-wrap" style="    background: none;">
                <form action="/subscribe" method="post">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  
                  <a href="https://www.reddit.com/message/compose/?to=<%=record.author%>"  style="    outline: auto;;float: right;;border:none;color:white" class="btn-buy" id="month-btn-sub" >Apply</a>
                  <a data-toggle="tooltip" title="Only for paid members" disabled style="    outline: auto;background: #00000050 !important;float: right;;border:none;color:white" class="btn-buy" id="month-btn-sub" value="" type="submit">Automatic Application</a>
                </form>
              </div>
            </div>
          </div>
          


        </div>

<% end %>
      </div>
      <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
    </section><!-- End Pricing Section -->
    <script>
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();
});
</script>

    <%= javascript_pack_tag 'script' %>
<%= render "layouts/footer" %>