        
        <section id="hero" class=" align-items-center" style="height:48em;margin-bottom:-10em">

    <div class="container-fluid" data-aos="fade-up" style="">
      <div class="row justify-content-center" style="">
        <div style="    text-align: center;" class="col-xl-6 col-lg-7 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 style="    ;font-size:2.3em">Your bot for freelance job hunting </h1>
          <h2 style="    font-weight: 200;font-size:1.3em">Ginevar pings you when a new freelance job is available on Reddit, Linkedin, Facebook Groups, and more!</h2>
          

			<span id=""></span>
			 
        </div>

      </div>
    </div>
    <style type="text/css">.pathu{display:none}</style>
    <div class="row " style="display: block;margin:auto;
    width: fit-content;margin-top: 6em">
      <h2 style="    font-weight: 200;;display: block;margin: auto;width: fit-content;margin-bottom:-1em">Available for...</h2>
        <a href="https://discord.gg/pF3RmUhzK7" class="btn-get-started scrollto" style="border-radius: 3px;margin-right: 1em;width: 13em">
          <img src=<%= asset_path('discord.svg') %> class="img-responsive" alt="Responsive image" width="50" height="35" style="margin-right:00.5em"/>
        Discord
      </a>
        <a href="#" onclick="alert('Whatsapp integration available soon!')" class="btn-get-started scrollto" style="border-radius: 3px;margin-right: 1em;width: 13em">
          <img src=<%= asset_path('wpp.svg') %> class="img-responsive" alt="Responsive image" width="50" height="35" style="margin-right:00.5em"/>
        Whatsapp
      </a>
        <a onclick="alert('Telegram integration available soon!')" href="#" class="btn-get-started scrollto" style="border-radius: 3px;width: 13em">
          <img src=<%= asset_path('telegram.svg') %> class="img-responsive" alt="Responsive image" width="50" height="35" style="margin-right:00.5em"/>
        Telegram
      </a>
    </div>
    <div class="text-editor container" style="background: url(<%= asset_path('dscreen.png') %>);
    background-size: cover;
    height: 20em;
    position: absolute;
    bottom: 0;
    display: block;
    LEFT: 0;
    right: 0;
    top: 30em;">
       
       

      </div>
  </section><!-- End Hero -->
      
    </div>
        <section style="" id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="z-index:0"> <br/><br/><br/></h2>
        </div>
        <div class="row" style="margin-bottom:-6em">
          
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100" >
            <div style="border:1px solid rgba(116, 15, 214, 0.9);border-radius:3px" class="icon-box iconbox-yellow">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                </svg>
                <i class="bx bx-layer"></i>
              </div>
              <h4>Starters</h4>
              <p>Did you just become freelancer and don't know where to start getting clients? We got you.</p>
            </div>
          </div>

          <div  class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
            <div style="border:1px solid rgba(116, 15, 214, 0.9);border-radius:3px" class="icon-box iconbox-red">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                </svg>
                <i class="bx bx-slideshow"></i>
              </div>
              <h4>Seasoned</h4>
              <p>Are you an established freelancer and don't want to deal with the hassle of seeking new gigs? We got you.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
            <div style="border:1px solid rgba(116, 15, 214, 0.9);border-radius:3px" class="icon-box iconbox-teal">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
                </svg>
                <i class="bx bx-arch"></i>
              </div>
              <h4>Automatization</h4>
              <p>Are you an agency wanting to automatize bringing in new clients? We got you.</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Pricing</h2>
        </div>

        <div class="row" style=" margin:auto">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="box">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span></span></h4>
              <ul style="    height: 11.7em;">
                <li>1 Week Full Access</li>
                <li>50 job alerts</li>
                <li>Support 24/7</li>
                <li>Sources: Reddit</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy" id="free-btn-sub">Start Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="box featured">
              <h3>Monthly</h3>
              <h4><sup>$</sup>5<span> / month</span></h4>
              <ul style="    height: 11.7em;">
                <li>Monthly Access</li>
                <li>Unlimited job alerts</li>
                <li>Support 24/7</li>
                <li>Sources: Reddit, Facebook Groups, Linkedin</li>
              </ul>
              <div class="btn-wrap">
                <form action="/subscribe" method="post">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <%= hidden_field_tag :price, 'price_1IDrMkGes1OWfTBdJ3KnoTYm' %>
                  <input style="    outline: auto;" class="btn-buy" id="month-btn-sub" value="Start Now" type="submit">
                </form>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <h3>Yearly</h3>
              <h4><sup>$</sup>36<span> / year</span></h4>
              <ul style="    height: 11.7em;">
                <li>Yearly Access</li>
                <li>Unlimited job alerts</li>
                <li>Support 24/7</li>
                <li>Sources: Reddit, Facebook Groups, Linkedin and Private Network</li>
              </ul>
              <div class="btn-wrap">
                <form action="/subscribe" method="post">
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <%= hidden_field_tag :price, 'price_1IDrNBGes1OWfTBdnjaWZ2Vx' %>
                  <input style="    outline: auto;" class="btn-buy" id="year-btn-sub" value="Start Now" type="submit">
                </form>
              </div>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Pricing Section -->
    <%= javascript_pack_tag 'script' %>
<%= render "layouts/footer" %>