<nav style="display:none" class="navbar mb-2">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Items", root_path, class: "mx-2" %>
    </div>
    <% if logged_in? %>
      <ul class="nav navbar-right ">
        <li><%= link_to "Log out", logout_path, class: "mx-2", method: :delete %></li> 
      </ul>
    <% else %>
      <ul class="nav navbar-right ">
        <li><%= link_to "Log in", login_path, class: "mx-2" %></li> 
        <li><%= link_to "Sign up", signup_path, class: "mx-2" %></li>
      </ul>
    <% end %>
  </div>
</nav>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
     <a href="/"><img src=<%= asset_path('logo.svg') %> width="50"></a>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block ml-auto" style="">
        <ul class="">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/#pricing">Pricing</a></li>
          <li><a href="contact">Contact</a></li>
        </ul>
      </nav><!-- .nav-menu -->
      <!--<%= link_to "Login", login_path, class: "get-started-btn scrollto" %>-->
      <% if logged_in? %>
        <%= link_to "Logout", logout_path, class: "get-started-btn scrollto", method: :delete %>
      <% else %>
        <%= link_to "Get Started", login_path, class: "get-started-btn scrollto" %>
      <%end%>
    </div>
  </header><!-- End Header -->
